Java/HELP.md
target/
!Java/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
Java/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.orig.
web-build/

# macOS
.DS_Store

build/
dist/
node_modules/
node_modules
**/node_modules/
**/node_modules
.secret-*
**.sample
package-log.json
yarn.lock
#amplify-do-not-edit-end
.expo/packager-info.json
.expo/settings.json
.expo/packager-info.json
