Java/HELP.md
target/
!Java/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
Java/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

React_Native/reporTown/node_modules/
React_Native/reporTown/.expo/
React_Native/reporTown/npm-debug.*
React_Native/reporTown/*.jks
React_Native/reporTown/*.p8
React_Native/reporTown/*.p12
React_Native/reporTown/*.key
React_Native/reporTown/*.mobileprovision
React_Native/reporTown/.orig.
React_Native/reporTown/web-build/

# macOS
React_Native/reporTown/.DS_Store

#amplify-do-not-edit-begin
React_Native/reporTown/amplify/\#current-cloud-backend
React_Native/reporTown/amplify/.config/local-*
React_Native/reporTown/amplify/logs
React_Native/reporTown/amplify/mock-data
React_Native/reporTown/amplify/backend/amplify-meta.json
React_Native/reporTown/amplify/backend/awscloudformation
React_Native/reporTown/amplify/backend/.temp
React_Native/reporTown/build/
React_Native/reporTown/dist/
React_Native/reporTown/node_modules/
React_Native/reporTown/aws-exports.js
React_Native/reporTown/awsconfiguration.json
React_Native/reporTown/amplifyconfiguration.json
React_Native/reporTown/amplifyconfiguration.dart
React_Native/reporTown/amplify-build-config.json
React_Native/reporTown/amplify-gradle-config.json
React_Native/reporTown/amplifytools.xcconfig
React_Native/reporTown/.secret-*
React_Native/reporTown/**.sample
#amplify-do-not-edit-end
React_Native/reporTown/.expo/packager-info.json
React_Native/reporTown/.expo/settings.json
React_Native/reporTown/.expo/packager-info.json
